h1,h2{
text-align:center
}
body{
background-color:burlywood	
	
}
.jeans{
	color:blue
}

.in{
margin-right:auto;	
	
}
.trouser{
	float:left;
	margin-right:5px;
	display:block;width
}
p{
	text-align:center
}
.img.1{
	float:left;
}